body {
    min-width: 320px;
    width: 20rem;
    margin: 0 auto;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif; 
    line-height: 1.5;
    background-color: #F2F2F2;
}

@media screen and (min-width: 750px) {
    html {
        font-size: 37.5px!important;
    }
}

.header {
    text-align: center;
    h5 {
        font-size: .933333rem;
    }
}